{% extends "base.html" %}
{% block content %}
    <h2>Add Book</h2>

    {% for message in form.isbn.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.title.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.author.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('member.newbook') }}" method="post">
        {{ form.hidden_tag() }}

        {{ form.isbn.label }}
        {{ form.isbn }}

        {{ form.title.label }}
        {{ form.title }}

        {{ form.volume.label }}
        {{ form.volume }}

        {{ form.author.label }}
        {{ form.author }}

        {{ form.publisher.label }}
        {{ form.publisher }}

        {{ form.year.label }}
        {{ form.year }}

        {{ form.subject.label }}
        {{ form.subject }}

        {{ form.endDate.label }}
        {{ form.endDate }}

        {{ form.submit }}
    </form>
{% endblock %}
