CDApplet==1.0
CDBashApplet==1.0
Flask==0.10.1
Flask-Login==0.2.11
Flask-Migrate==1.2.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
PAM==0.4.2
Pillow==2.3.0
PodSixNet==60
PyInstaller==2.1
Pygments==1.6
SQLAlchemy==0.9.8
Twisted==14.0.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
Werkzeug==0.9.6
adium-theme-ubuntu==0.3.4
alembic==0.6.7
app==0.0.2
apt-xapian-index==0.45
argparse==1.2.1
astral==0.7.4
chardet==2.0.1
command-not-found==0.3
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
dnspython==1.11.1
duplicity==0.6.23
etk.docking==0.2
foursquare==20130707
gaphas==0.7.2
gaphor==0.17.2
google-api-python-client==1.2
httplib2==0.9
itsdangerous==0.24
jsonpickle==0.8.0
lockfile==0.8
lxml==3.3.3
mercurial==2.8.2
numpy==1.8.2
oauth2==1.5.211
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.1
piston-mini-client==0.7.5
poster==0.8.1
psycopg2==2.4.5
pudb==2014.1
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygame==1.9.1release
pygobject==3.12.0
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5
python-debian==0.1.21-nmu2ubuntu2
pytz==2014.7
pyxdg==0.25
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.6.4
six==1.8.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
stevedore==1.0.0
system-service==0.1.6
twitter==1.15.0
unity-lens-photos==1.0
urllib3==1.7.1
urwid==1.3.0
vboxapi==1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
winpdb==1.4.8
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
xdot==0.5
zope.component==4.0.2
zope.event==4.0.1
zope.hookable==3.4.1
zope.interface==4.0.5
