<div style="width:750px;padding:5px;boarder:5px solid black;background-color:grey;">
    <table>
        <td valign="top">
            <tr>
                <td><h4> Title:</h4></td>
                <td>{{ book.title  }}</td></tr>
                <br>
            <tr>
                <td></td>
                <td><h4>Author:</h4></td>
                <td>{{ book.author }}</td>
                <td><h4>  ISBN:</h4></td>
                <td>{{ book.isbn }}</td></td>
            </tr>
        </td>
    </table>
</div>