<html>
    <head>
        {% if title %}
        <title>{{ title }} - bookworm</title>
        {% else %}
        <title>bookworm</title>
        {% endif %}
    </head>
    <body>
    <!--Facebook Authorization-->
    <!--<script>-->
      <!--window.fbAsyncInit = function() {-->
        <!--FB.init({-->
          <!--appId      : 'your-app-id',-->
          <!--xfbml      : true,-->
          <!--version    : 'v2.1'-->
        <!--});-->
      <!--};-->

      <!--(function(d, s, id){-->
         <!--var js, fjs = d.getElementsByTagName(s)[0];-->
         <!--if (d.getElementById(id)) {return;}-->
         <!--js = d.createElement(s); js.id = id;-->
         <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
         <!--fjs.parentNode.insertBefore(js, fjs);-->
       <!--}(document, 'script', 'facebook-jssdk'));
    </script>-->
        <div>Bookworm: <a href="{{ url_for('index') }}">Home</a>
            {% if g.user.is_authenticated() %}
            | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a>
            | <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>